body {
    margin: 0;
    padding: 0;
    background: #fff;
    text-align: center;
}

.container > .header {
    margin-top: 30px;
}

.header > h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 87%;
    letter-spacing: -0.02em;
    color: #0b0b0b;
}

.header > h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.04em;
    color: #0b0b0b;
}

.content {
    margin-top: 50px;
}

.choose{
    display: flex;
    justify-content: center;
    gap: 19px;
}

.choose > a {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.text_upload {
    color: #adc0f8;
}

.text_images {
    color: #0060ff;
}

.text_upload:hover, .text_images:hover {
    opacity: 0.8;
}

.images-container {
    margin-top: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-attachment: #fff;
}

.images-header {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 20px;
    padding: 16px 20px;
    background-color: #f2f5ff;
    font-family: var(--font-family);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #0b0b0b;
}

.header-name, .header-url, .header-delete {
    text-align: left;
}

.images-list {
    border: 2px solid #E8EEFF;
    border-radius: 8px;
    overflow: hidden;
}

.image-item {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 20px;
}